/* src/styles/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0D0D;
    padding: 0 20px;
  }
  
  .navbar-logo a {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    color: #FFD700;
  }  